$tema: oceano;

$cor-primaria: #ffb92f; // #005C91
$cor-base: #fff;
$cor-fundo: #fff;
$cor-texto: #001f3a;
$font-primaria: monospace;
$gutter: 30px;

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box; //prefixos
  -webkit-box-sizing: border-box; //prefixos
}

@mixin title-large {
  font-size: 4em;
  line-height: 1;
}

@mixin title {
  font-weight: bold;
  font-family: $font-primaria;
  color: $cor-primaria;
}

@mixin text-large {
  @include title;
  @include title-large;
}

@mixin separador($color: blue, $largura: 100px) {
  &::after {
    content: '';
    display: block;
    width: $largura;
    height: 4px;
    background: $color;
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: $cor-fundo;
}

section {
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include border-box;
}

h1 {
  @include text-large;
  @include separador($cor-primaria, 150px);
}

.modal {
  //adicionado .modal
  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $cor-primaria;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-family: $font-primaria;
    max-width: 120px;
  }

  p {
    color: $cor-texto;
    font-size: 18px;
    font-weight: 400;
    font-family: $font-primaria;
    margin-bottom: $gutter;
  }

  p {
    font: {
      size: 18px;
      weight: 400;
      family: $font-primaria;
      style: italic;
    }
    color: $cor-texto;
    margin-bottom: $gutter;
  }
}

ul {
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: #fff;
      &:hover {
        // & server para grudar o elemento no outro  exemplo &:hover === a:hover
        background: pink;
      }
    }
  }
}
